# Ignore node_modules in both frontend and backend
backend/node_modules/
frontend/node_modules/

# Ignore local environment variables
backend/.env
frontend/.env
.env

# Ignore build/dist folders
frontend/dist/
frontend/build/